<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>単語追加</h1>
    <form method="post" action="{{ url_for('register') }}">
    <table border="1">
            <tr>
                <td><input type="text" name="zyukugo"></td>
            </tr>
      </table>
      <br>
      <input type="submit" value="登録">
    </form>
</body>
</html>