<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Document</title>
</head>
<body>


<p>{{ zyukugo|list }}</p>
<p>{{ zyukugo }}</p>
<p>{{ "".join(characters) }}</p>
{% for i in range(zyukugo|length) %}
    {% if zyukugo[i] == characters[i] %}}
        <nobr>{{ characters[i] }}</nobr>
    {% else %}
        <nobr class="abc">{{ characters[i] }}</nobr>
    {% endif %}
{% endfor %}

  



{% for i in characters %}
    {{ loop.index }}
{% endfor %}
    

<form method="post" action="{{ url_for('delete') }}">
    <!-- <a href="{{ url_for('index') }}">はじめにもどる</a> -->
    <input type="submit" value="はじめにもどる">
    <!-- <input type="text" name="db_zyukugo_top" value="{{ zyukugo[0]['zyukugo'] }}"> -->
</form>
    
</body>
</html>