<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>矯正ちゃん</title>
</head>
<body>
    <h1>矯正ちゃん</h1>
        <div class="bg">
            <div class="box3">
                <div class="box18">
                    <h2 class="result">正しい答え</h2>
                </div>
                <p class="go">{{ tango }}</p>
                <br>
                <div class="box18">
                    <h2 class="result2">あなたの書いた文字の認証結果</h2>
                </div>
            <p class="resultchara">
            {% for i in range(tango|length) %}
                {% if tango[i] == characters_eng[i] %}
                    <nobr class="abb">{{ characters_eng[i] }}</nobr>
                {% else %}
                    <nobr class="abc">{{ characters_eng[i] }}</nobr>
                {% endif %}
            {% endfor %}
            </p>
        <p class="end1">赤字の部分が正しくかけてないかも...</p>
        <p class="end2">練習してうまくかけるようにしよう！</p>
        <br>
        <form method="post" action="{{ url_for('delete2') }}">
            <input class="buttonblue2" type="submit" value="はじめにもどる">
        </form>
        </div>
        <br><br><br><br><br>
    </div>  
</body>
</html>