<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>矯正ちゃん</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
<h1>矯正ちゃん</h1>
<div class="bg">
<div class="intro"><p>矯正ちゃんとは・・・あなたの手書き文字を認識し、文字が正しくかけているのかの正誤を判定するツールです。</p></div>

<div class="box">
  <div class="box_rgba">
    <h2 class="enpitsu">モードを選んでね</h2>
    <br><br>
      <div class="centerb">
        <a class="buttonred" href="{{ url_for('index2') }}">ひらがなモード</a>
      </div>
        <br>
      <div class="centerb">
        <a class="buttongreen" href="{{ url_for('index4') }}">アルファベットモード</a>
      </div>
  </div>
</div>
<br>
<br><br>
<br><br>
<br><br>

</div>
</body>
</html>